
$brand: #13D628;
$dark: #000;
$light: #fff;
$medium-dark: lighten($dark, 70%);
$medium: #F6F7F8;

.light {
	background-color: $light;
	color: $medium;	
}

.medium {
	background-color: $medium;
	color: $dark;
}

.dark {
	background-color: $dark;
	color: $light;
}

//End colors