/* Begin layout styles */

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$break-small: 770px;
$break-med: 870px;
$break-large: 1000px;

.wrapper{
	min-width: 400px;
}

header {
	position: relative;
	padding: 1em 1em 0 1em;
	.logo, .newsletter {
		float: left;	
	}
	.menu-wrapper {
		float: right;
	}
	@media all and (min-width: $break-large) {
		.menu-wrapper{
			float: left;
		}
	}
}	

.main {
	clear: both;
	padding: 0 1em;
	position: relative;
	padding-top: 2em;
}

footer {
	padding: 2.5em 1.5em;
	position: relative;
	@media all and (min-width: $break-large){
		min-height: 240px;
		.menu-wrapper {
			float: right;
		}
	}
}

//End structure