@import "compass/reset";
@import "layout";
@import "colors";
@import "fonts";

/* Begin content styles */

.logo {
	font-family: $brand-font;
	font-size: 4em;
	transition: all ease .4s;
	@media all and (min-width: $break-small){
		margin-left: 30px;
		font-size: 9em;
	}
}

.tagline {
	color: $brand;
	display: none;
	@media all and (min-width: $break-large) {
		display: block;
	}
}

.main-menu {
	margin-top: 1em;
	li {
		display: none;
		font-family: $brand-font;
		font-size: 1.5em;
		margin-top: .2em;
		margin-left: 1em;
		a {
			color: $dark;
			text-decoration: none;
			&:hover{
				color: $brand;
			}
		}
		@media all and (min-width: $break-small){
			&:not(:first-child):not(:nth-child(4)){
				display: inline-block;
			}
		}
	}
}

#main-menu-toggle {
	display: inline-block;
}

#search-toggle {
	cursor: pointer;
	display: inline-block;
	padding: .5em;
	&:hover {
		color: $brand;
	}
}

#search {
	background-color: $dark;
	border: 0;
	color: $light;
	font-size: 1.5em;			
	padding: .4em 1.5em 0;
	outline: 0;
	width: 100%;
	height: .25em;
	transition: all ease .2s;
	&.active {
		height: auto;
		padding-top: .5em;
		padding-bottom: .5em;
	}
}

.newsletter {
	display: none;
	@media all and (min-width: $break-large) {
		display: block;
	}
}

.tweets {
	display: none;
	.fa-twitter {
		color: $brand;
		font-size: 3em;
	}
}

.issue {
	border-bottom: 1em solid $light;
	cursor: pointer;
	display: inline-block;
	height: 197px;
	text-align: center;
	width: 50%;
	margin-right: -5px;
	margin-bottom: 4em;
	&:hover {
		border-bottom-color: $brand;
	}
	img {
		height: 100%;
		width: auto;
		vertical-align: bottom;
	}
	@media all and (min-width: $break-small){
		width: 25%;
	}	
	@media all and (min-width: $break-large){
		width: 20%;
	}
}

.buy-issue {
	display:none;
}

.copy {
	color: darken($light, 60%);
	font-family: $sans;
	font-size: .7em;
	transition: all ease .2s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	@media all and (min-width: $break-large){
		font-size: 1em;
		margin: 0 3em;
	}
}

.company-nav {
	font-family: $sans;
	font-size: .9em;
	margin: 0;
	a {
		color: $light;
		display: block;
		padding: .3em 0;
		text-decoration: none;
	}
	@media all and (min-width: $break-large){
		float: left;
		margin: 0 2em;
		a{
			display: inline-block;
			padding: 0 .3em;
		}
	}	
}

.social-links {
	margin: 1.5em 0;
	li {
		display: inline-block;
		width: 25px;
	}
	a {
		color: $light;
		display: block;
	}

	@media all and (min-width: $break-large){
		float: left;
		margin: 0; 
	}
}
