html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Begin layout styles */
html {
  box-sizing: border-box;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

.wrapper {
  min-width: 400px; }

header {
  position: relative;
  padding: 1em 1em 0 1em; }
  header .logo, header .newsletter {
    float: left; }
  header .menu-wrapper {
    float: right; }
  @media all and (min-width: 1000px) {
    header .menu-wrapper {
      float: left;
      width: 60%; } }

.main {
  clear: both;
  padding: 0 1em;
  position: relative;
  padding-top: 2em; }

footer {
  padding: 2.5em 1.5em;
  position: relative; }
  @media all and (min-width: 1000px) {
    footer {
      min-height: 240px; }
      footer .menu-wrapper {
        float: right; } }

.light {
  background-color: #fff;
  color: #F6F7F8; }

.medium {
  background-color: #F6F7F8;
  color: #000; }

.dark {
  background-color: #000;
  color: #fff; }

/* Begin content styles */
.logo {
  font-family: "bebas_neuebold", sans-serif;
  font-size: 4em;
  margin-right: .2em;
  transition: all ease .4s; }
  .logo a {
    color: #000;
    text-decoration: none; }
  @media all and (min-width: 770px) {
    .logo {
      margin-left: 30px;
      font-size: 9em; } }

.tagline {
  color: #13D628;
  display: none;
  font-size: 1.2em;
  margin: 2em 1.2em 0 1.2em;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #000; }
  @media all and (min-width: 1000px) {
    .tagline {
      display: block; } }

.main-menu {
  margin-top: .3em; }
  .main-menu li {
    display: none;
    font-family: "bebas_neuebold", sans-serif;
    font-size: 1.5em;
    margin-top: .2em;
    margin-left: 1em; }
    .main-menu li a {
      color: #000;
      text-decoration: none; }
      .main-menu li a:hover {
        color: #13D628; }
    @media all and (min-width: 1000px) {
      .main-menu li {
        font-size: 1.6em; } }
    @media all and (min-width: 770px) {
      .main-menu li:not(:nth-child(6)) {
        display: inline-block; } }

@media all and (max-width: 770px) {
  #main-menu-toggle,
  .main-menu li:nth-child(6) {
    display: inline-block; } }

#search-toggle {
  cursor: pointer;
  display: inline-block;
  padding: .5em; }
  #search-toggle:hover {
    color: #13D628; }

#search {
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.5em;
  padding: .4em 1.5em 0;
  outline: 0;
  width: 100%;
  height: .25em;
  transition: all ease .2s; }
  #search.active {
    height: auto;
    padding-top: .5em;
    padding-bottom: .5em; }

.newsletter {
  display: none; }
  @media all and (min-width: 1000px) {
    .newsletter {
      display: block;
      padding-left: 25px;
      position: absolute;
      right: 0;
      width: 20%; } }
  .newsletter h3 {
    border-bottom: 1px solid #d9dee2;
    display: inline-block;
    font-family: "bebas_neuebold", sans-serif;
    font-size: 2.2em;
    line-height: .8em;
    margin-left: .5em;
    padding-bottom: .5em;
    word-break: break-word;
    width: 2em;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .newsletter p {
    color: #b3b3b3;
    display: inline-block;
    font-size: .9em;
    margin-left: 2.5em;
    width: 130px; }
  .newsletter form {
    clear: both; }
  .newsletter input {
    border: 1px solid #d9dee2;
    color: #b3b3b3;
    font-family: sans-serif;
    font-size: .9em;
    min-width: 200px;
    padding: .5em .8em;
    outline: 0; }
  .newsletter button {
    background-color: #13D628;
    border: 0;
    border-bottom: 2px solid #13D628;
    color: #fff;
    font-size: .9em;
    margin-left: -6px;
    padding: .5em .8em; }

.tweets {
  display: none; }
  .tweets .fa-twitter {
    color: #13D628;
    font-size: 3em; }

.issue {
  border-bottom: 1em solid #fff;
  cursor: pointer;
  display: inline-block;
  height: 197px;
  text-align: center;
  width: 50%;
  margin-right: -5px;
  margin-bottom: 4em; }
  .issue:hover {
    border-bottom-color: #13D628; }
  .issue img {
    height: 100%;
    width: auto;
    vertical-align: bottom; }
  @media all and (min-width: 770px) {
    .issue {
      width: 25%; } }
  @media all and (min-width: 1000px) {
    .issue {
      width: 20%; } }

.buy-issue {
  display: none; }

.copy {
  color: #666666;
  font-family: sans-serif;
  font-size: .7em;
  transition: all ease .2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media all and (min-width: 1000px) {
    .copy {
      font-size: 1em;
      margin: 0 3em; } }

.company-nav {
  font-family: sans-serif;
  font-size: .9em;
  margin: 0; }
  .company-nav a {
    color: #fff;
    display: block;
    padding: .3em 0;
    text-decoration: none; }
  @media all and (min-width: 1000px) {
    .company-nav {
      float: left;
      margin: 0 2em; }
      .company-nav li {
        display: inline-block;
        padding: 0 .3em; } }

.social-links {
  margin: 1.5em 0; }
  .social-links li {
    display: inline-block;
    width: 25px; }
  .social-links a {
    color: #fff;
    display: block; }
  @media all and (min-width: 1000px) {
    .social-links {
      float: left;
      margin: 0; } }
